<!DOCTYPE html>
<html {{ site.language_attributes }}>
	{% block head %}
		{% include 'partials/head.twig' %}
	{% endblock %}

	<body class="{{ body_class }}">
		{{ function('wp_body_open') }}
		<a class="skip-link screen-reader-text" href="#content">{{ _e('Skip to content') }}</a>
		<div
			class="main_page">
			<!-- header -->
			{% include 'partials/header.twig' with {items: menu.get_items} %}
			{% include 'partials/menu.twig' with {items: menu.get_items} %}
			<!-- end header -->
			{% if not fn('is_front_page') %}

				<!--=============== PAGE TITLE (Breadcrumb) ===============-->
				{% include "partials/breadcrumbs.twig" %}
				<!--=============== END PAGE TITLE (Breadcrumb) ===============-->

			{% endif %}
			{% block content %}{% endblock %}

			{% block footer %}
				{% include 'partials/footer.twig' %}
			{% endblock %}
			{{ function('wp_footer') }}
			{% do action('get_footer') %}
		</div>
	</body>
</html>
