<!-- Banner ____________________________________ -->
<div id="banner">
	<div
		class="rev_slider_wrapper">
		<!-- START REVOLUTION SLIDER 5.0 auto mode -->
		<div id="main_slider" class="rev_slider" data-version="5.0">
			<ul>

				<!-- SLIDE1  -->
				<li
					data-index='rs-377' data-transition='curtain-1' data-slotamount='1' data-easein='default' data-easeout='default' data-masterspeed='default' data-thumb='{{ site.theme.link }}/assets/images/home/slide-1.jpg' data-rotate='0' data-saveperformance='off' data-title='Business Solutions' data-description=''>
					<!-- MAIN IMAGE -->
					<img src="{{ site.theme.link }}/assets/images/home/slide-1.jpg" alt="image" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
					<!-- LAYERS -->

					<!-- LAYER NR. 1 -->
						<div class="tp-caption tp-resizeme rs-parallaxlevel-3" data-x="['center','center','center','center']" data-hoffset="['0','0','35','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-120','-120','-120','-120']" data-width="none" data-height="none" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 5;"> <img src="{{ site.theme.link }}/assets/images/home/1.png" alt="">
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption tp-resizeme rs-parallaxlevel-3" data-x="['center','center','center','center']" data-hoffset="['0','0','35','0']" data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','50']" data-width="none" data-height="none" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1500" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 5;">
						<h1>Organic Store</h1>
					</div>


					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-resizeme rs-parallaxlevel-2" data-x="['center','center','center','center']" data-hoffset="['0','0','35','0']" data-y="['middle','middle','middle','middle']" data-voffset="['110','110','110','110']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="2000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;">
						<h5 class="cp-title">Fruits ~ Vegetables ~ Foods ~ Cosmetics
						</h5>
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption tp-resizeme rs-parallaxlevel-2" data-x="['center','center','center','center']" data-hoffset="['0','0','35','0']" data-y="['middle','middle','middle','middle']" data-voffset="['160','160','160','160']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="2500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;">
						<h5 class="cp-title-2">We are providing highest quality Organics Products for USA almo</h5>
					</div>


				</li>


				<!-- SLIDE2  -->
				<li
					data-index="rs-18" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="{{ site.theme.link }}/assets/images/home/slide-2.jpg" data-rotate="0" data-saveperformance="off" data-title="Successful Careers" data-description="">
					<!-- MAIN IMAGE -->
					<img
					src="{{ site.theme.link }}/assets/images/home/slide-2.jpg" alt="" data-bgposition="top center" class="rev-slidebg" data-no-retina>
					<!-- LAYERS -->
					<div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['80','80','80','80']" data-y="['middle','middle','middle','middle']" data-voffset="['-160','-160','-160','-160']" data-width="none" data-height="none" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 5;">
						<img src="{{ site.theme.link }}/assets/images/home/4.png" alt="">
					</div>
					<div class="tp-caption tp-resizeme banner-caption-box" data-x="right" data-hoffset="0" data-y="top" data-voffset="260" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="1000">
						<div class="banner-caption-h1">Get Blackberry
							<br>Pack With 50% Off</div>
						<div class="banner-caption-p">
							<p>Great explorer of the truth, the master-builder of human happiness no sed one rejects
								<br>dislikes, or avoids pleasure itself, because it is pleasure.</p>
						</div>
						<a href="#" class="thm-btn contuct-us">shop now</a>
					</div>
				</li>


				<!-- SLIDE3  -->
				<li
					data-index="rs-20" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="{{ site.theme.link }}/assets/images/home/slide-3.jpg" data-rotate="0" data-saveperformance="off" data-title="Your Success" data-description="">
					<!-- MAIN IMAGE -->
					<img src="{{ site.theme.link }}/assets/images/home/slide-3.jpg" alt="" data-bgposition="top center" class="rev-slidebg" data-no-retina>
					<!-- LAYERS -->


					<!-- LAYER NR. 1 -->
						<div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['0','0','35','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-120','-120','-120','-120']" data-width="none" data-height="none" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 5;"> <img src="{{ site.theme.link }}/assets/images/home/3.png" alt="">
					</div>


					<!-- LAYER NR. 1 -->
					<div class="tp-caption tp-resizeme text-center" data-x="center" data-hoffset="0" data-y="center" data-voffset="-40" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="500">
						<div class="banner-caption-h2">Natural Healthy Foods</div>
					</div>
					<div class="tp-caption tp-resizeme text-center" data-x="center" data-hoffset="0" data-y="top" data-voffset="360" data-transform_idle="o:1;" data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-start="1400">
						<div class="banner-caption-h3">With Your Affortable</div>
						<div class="banner-caption-p">
							<p>Great explorer of the truth, the master-builder of human happin</p>
						</div>
						<a href="#" class="color1-bg contuct-us">shop now</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- END REVOLUTION SLIDER -->
</div>
<!-- End of #banner -->
