<!--feature Section-->
<section class="featured-product">
	<div class="container">

		<div class="theme_title center">
			<h3>FEATURED PRODUCTS</h3>
		</div>

		<!--Filter-->
		<div class="filters text-center">
			<ul class="filter-tabs filter-btns clearfix">
				<li class="filter active" data-role="button" data-filter="all">
					<span class="txt">All Products</span>
				</li>
				<li class="filter" data-role="button" data-filter=".fruits">
					<span class="txt">fruits</span>
				</li>
				<li class="filter" data-role="button" data-filter=".vegetables">
					<span class="txt">vegetables</span>
				</li>
				<li class="filter" data-role="button" data-filter=".beauty">
					<span class="txt">beauty</span>
				</li>
				<li class="filter" data-role="button" data-filter=".others">
					<span class="txt">others</span>
				</li>
			</ul>
		</div>

		<div
			class="row filter-list clearfix" id="MixItUp717B05">

			<!--Default Item-->
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all beauty others" style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="{{ site.theme.link }}/assets/images/shop/1.png" alt=""><div class="product-model new">New</div>
						</figure>
						<div class="content">
							<h3>
								<a href="shop-single.html">Turmeric Powder</a>
							</h3>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<div class="price">$12.99
								<span class="prev-rate">$14.99</span>
							</div>
						</div>
						<div class="overlay-box">
							<div class="inner">
								<div class="top-content">
									<ul>
										<li>
											<a href="#">
												<span class="fa fa-eye"></span>
											</a>
										</li>
										<li class="tultip-op">
											<span class="tultip">
												<i class="fa fa-sort-desc"></i>ADD TO CART</span>
											<a href="#">
												<span class="icon-icon-32846"></span>
											</a>

										</li>
										<li>
											<a href="#">
												<span class="fa fa-heart-o"></span>
											</a>
										</li>
									</ul>
								</div>
								<div class="bottom-content">
									<h4>
										<a href="#">It Contains:</a>
									</h4>
									<p>35% of organic raisins 55% of oats and 10% of butter.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Default Item-->
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all others" style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="{{ site.theme.link }}/assets/images/shop/2.png" alt=""></figure>
						<div class="content">
							<h3>
								<a href="shop-single.html">Turmeric Powder</a>
							</h3>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<div class="price">$12.99
								<span class="prev-rate">$14.99</span>
							</div>
						</div>
						<div class="overlay-box">
							<div class="inner">
								<div class="top-content">
									<ul>
										<li>
											<a href="#">
												<span class="fa fa-eye"></span>
											</a>
										</li>
										<li class="tultip-op">
											<span class="tultip">
												<i class="fa fa-sort-desc"></i>ADD TO CART</span>
											<a href="#">
												<span class="icon-icon-32846"></span>
											</a>

										</li>
										<li>
											<a href="#">
												<span class="fa fa-heart-o"></span>
											</a>
										</li>
									</ul>
								</div>
								<div class="bottom-content">
									<h4>
										<a href="#">It Contains:</a>
									</h4>
									<p>35% of organic raisins 55% of oats and 10% of butter.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Default Item-->
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all fruits vegetables beauty" style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="{{ site.theme.link }}/assets/images/shop/3.png" alt=""><div class="product-model hot">Hot</div>
						</figure>
						<div class="content">
							<h3>
								<a href="shop-single.html">Turmeric Powder</a>
							</h3>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<div class="price">$12.99
								<span class="prev-rate">$14.99</span>
							</div>
						</div>
						<div class="overlay-box">
							<div class="inner">
								<div class="top-content">
									<ul>
										<li>
											<a href="#">
												<span class="fa fa-eye"></span>
											</a>
										</li>
										<li class="tultip-op">
											<span class="tultip">
												<i class="fa fa-sort-desc"></i>ADD TO CART</span>
											<a href="#">
												<span class="icon-icon-32846"></span>
											</a>

										</li>
										<li>
											<a href="#">
												<span class="fa fa-heart-o"></span>
											</a>
										</li>
									</ul>
								</div>
								<div class="bottom-content">
									<h4>
										<a href="#">It Contains:</a>
									</h4>
									<p>35% of organic raisins 55% of oats and 10% of butter.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Default Item-->
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all beauty others" style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="{{ site.theme.link }}/assets/images/shop/4.png" alt=""></figure>
						<div class="content">
							<h3>
								<a href="shop-single.html">Turmeric Powder</a>
							</h3>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<div class="price">$12.99
								<span class="prev-rate">$14.99</span>
							</div>
						</div>
						<div class="overlay-box">
							<div class="inner">
								<div class="top-content">
									<ul>
										<li>
											<a href="#">
												<span class="fa fa-eye"></span>
											</a>
										</li>
										<li class="tultip-op">
											<span class="tultip">
												<i class="fa fa-sort-desc"></i>ADD TO CART</span>
											<a href="#">
												<span class="icon-icon-32846"></span>
											</a>

										</li>
										<li>
											<a href="#">
												<span class="fa fa-heart-o"></span>
											</a>
										</li>
									</ul>
								</div>
								<div class="bottom-content">
									<h4>
										<a href="#">It Contains:</a>
									</h4>
									<p>35% of organic raisins 55% of oats and 10% of butter.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Default Item-->
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all fruits others" style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="{{ site.theme.link }}/assets/images/shop/5.png" alt=""></figure>
						<div class="content">
							<h3>
								<a href="shop-single.html">Turmeric Powder</a>
							</h3>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<div class="price">$12.99
								<span class="prev-rate">$14.99</span>
							</div>
						</div>
						<div class="overlay-box">
							<div class="inner">
								<div class="top-content">
									<ul>
										<li>
											<a href="#">
												<span class="fa fa-eye"></span>
											</a>
										</li>
										<li class="tultip-op">
											<span class="tultip">
												<i class="fa fa-sort-desc"></i>ADD TO CART</span>
											<a href="#">
												<span class="icon-icon-32846"></span>
											</a>

										</li>
										<li>
											<a href="#">
												<span class="fa fa-heart-o"></span>
											</a>
										</li>
									</ul>
								</div>
								<div class="bottom-content">
									<h4>
										<a href="#">It Contains:</a>
									</h4>
									<p>35% of organic raisins 55% of oats and 10% of butter.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Default Item-->
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all fruits vegetables beauty others" style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="{{ site.theme.link }}/assets/images/shop/6.png" alt=""><div class="product-model new">New</div>
						</figure>
						<div class="content">
							<h3>
								<a href="shop-single.html">Turmeric Powder</a>
							</h3>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<div class="price">$12.99
								<span class="prev-rate">$14.99</span>
							</div>
						</div>
						<div class="overlay-box">
							<div class="inner">
								<div class="top-content">
									<ul>
										<li>
											<a href="#">
												<span class="fa fa-eye"></span>
											</a>
										</li>
										<li class="tultip-op">
											<span class="tultip">
												<i class="fa fa-sort-desc"></i>ADD TO CART</span>
											<a href="#">
												<span class="icon-icon-32846"></span>
											</a>

										</li>

										<li>
											<a href="#">
												<span class="fa fa-heart-o"></span>
											</a>
										</li>
									</ul>
								</div>
								<div class="bottom-content">
									<h4>
										<a href="#">It Contains:</a>
									</h4>
									<p>35% of organic raisins 55% of oats and 10% of butter.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Default Item-->
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all fruits others" style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="{{ site.theme.link }}/assets/images/shop/7.png" alt=""></figure>
						<div class="content">
							<h3>
								<a href="shop-single.html">Turmeric Powder</a>
							</h3>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<div class="price">$12.99
								<span class="prev-rate">$14.99</span>
							</div>
						</div>
						<div class="overlay-box">
							<div class="inner">
								<div class="top-content">
									<ul>
										<li>
											<a href="#">
												<span class="fa fa-eye"></span>
											</a>
										</li>
										<li class="tultip-op">
											<span class="tultip">
												<i class="fa fa-sort-desc"></i>ADD TO CART</span>
											<a href="#">
												<span class="icon-icon-32846"></span>
											</a>

										</li>
										<li>
											<a href="#">
												<span class="fa fa-heart-o"></span>
											</a>
										</li>
									</ul>
								</div>
								<div class="bottom-content">
									<h4>
										<a href="#">It Contains:</a>
									</h4>
									<p>35% of organic raisins 55% of oats and 10% of butter.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Default Item-->
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all fruits vegetables beauty others" style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="{{ site.theme.link }}/assets/images/shop/8.png" alt=""><div class="product-model hot">Hot</div>
						</figure>
						<div class="content">
							<h3>
								<a href="shop-single.html">Turmeric Powder</a>
							</h3>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<div class="price">$12.99
								<span class="prev-rate">$14.99</span>
							</div>
						</div>
						<div class="overlay-box">
							<div class="inner">
								<div class="top-content">
									<ul>
										<li>
											<a href="#">
												<span class="fa fa-eye"></span>
											</a>
										</li>
										<li class="tultip-op">
											<span class="tultip">
												<i class="fa fa-sort-desc"></i>ADD TO CART</span>
											<a href="#">
												<span class="icon-icon-32846"></span>
											</a>

										</li>

										<li>
											<a href="#">
												<span class="fa fa-heart-o"></span>
											</a>
										</li>
									</ul>
								</div>
								<div class="bottom-content">
									<h4>
										<a href="#">It Contains:</a>
									</h4>
									<p>35% of organic raisins 55% of oats and 10% of butter.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</section>
<!-- End of section -->
