<!--gallery Section-->
<section class="gallery">
	<div class="container">

		<div class="theme_title">
			<h3>Top Selling Products</h3>
		</div>


		<div
			class="row filter-list clearfix">

			<!--Default Item-->
			<div class="col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all beauty others" style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="{{ site.theme.link }}/assets/images/gallery/1.jpg" alt=""></figure>
						<div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="{{ site.theme.link }}/assets/images/gallery/1.jpg" class="fancybox" data-fancybox-group="home-gallery" title="Gardener Gallery">
											<span class="icon-magnifier"></span>
										</a>
									</div>
								</div>
								<div class="bottom-content">
									<h4>
										<a href="#">Coffee Break Cake</a>
									</h4>
									<div class="price">$12.99
										<span class="prev-rate">$14.99</span>
									</div>
									<div class="icon-box">
										<a href="shop-cart.html">
											<span class="icon-icon-32846"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Default Item-->
			<div class="col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all others" style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="{{ site.theme.link }}/assets/images/gallery/2.jpg" alt=""></figure>
						<div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="{{ site.theme.link }}/assets/images/gallery/1.jpg" class="fancybox" data-fancybox-group="home-gallery" title="Gardener Gallery">
											<span class="icon-magnifier"></span>
										</a>
									</div>
								</div>
								<div class="bottom-content">
									<h4>
										<a href="#">Coffee Break Cake</a>
									</h4>
									<div class="price">$12.99
										<span class="prev-rate">$14.99</span>
									</div>
									<div class="icon-box">
										<a href="shop-cart.html">
											<span class="icon-icon-32846"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Default Item-->
			<div class="col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all fruits vegetables beauty" style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="{{ site.theme.link }}/assets/images/gallery/3.jpg" alt=""></figure>
						<div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="{{ site.theme.link }}/assets/images/gallery/1.jpg" class="fancybox" data-fancybox-group="home-gallery" title="Gardener Gallery">
											<span class="icon-magnifier"></span>
										</a>
									</div>
								</div>
								<div class="bottom-content">
									<h4>
										<a href="#">Coffee Break Cake</a>
									</h4>
									<div class="price">$12.99
										<span class="prev-rate">$14.99</span>
									</div>
									<div class="icon-box">
										<a href="shop-cart.html">
											<span class="icon-icon-32846"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Default Item-->
			<div class="col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all beauty others" style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="{{ site.theme.link }}/assets/images/gallery/4.jpg" alt=""></figure>
						<div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="{{ site.theme.link }}/assets/images/gallery/1.jpg" class="fancybox">
											<span class="icon-magnifier"></span>
										</a>
									</div>
								</div>
								<div class="bottom-content">
									<h4>
										<a href="#">Coffee Break Cake</a>
									</h4>
									<div class="price">$12.99
										<span class="prev-rate">$14.99</span>
									</div>
									<div class="icon-box">
										<a href="shop-cart.html">
											<span class="icon-icon-32846"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Default Item-->
			<div class="col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all fruits others" style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="{{ site.theme.link }}/assets/images/gallery/5.jpg" alt=""></figure>
						<div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="{{ site.theme.link }}/assets/images/gallery/1.jpg" class="fancybox">
											<span class="icon-magnifier"></span>
										</a>
									</div>
								</div>
								<div class="bottom-content">
									<h4>
										<a href="#">Coffee Break Cake</a>
									</h4>
									<div class="price">$12.99
										<span class="prev-rate">$14.99</span>
									</div>
									<div class="icon-box">
										<a href="shop-cart.html">
											<span class="icon-icon-32846"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Default Item-->
			<div class="col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all fruits vegetables beauty others" style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="{{ site.theme.link }}/assets/images/gallery/6.jpg" alt=""></figure>
						<div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="{{ site.theme.link }}/assets/images/gallery/1.jpg" class="fancybox">
											<span class="icon-magnifier"></span>
										</a>
									</div>
								</div>
								<div class="bottom-content">
									<h4>
										<a href="#">Coffee Break Cake</a>
									</h4>
									<div class="price">$12.99
										<span class="prev-rate">$14.99</span>
									</div>
									<div class="icon-box">
										<a href="shop-cart.html">
											<span class="icon-icon-32846"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>

</section>
<!-- End of section -->
