<!-- Partner Logo********************** -->

<div class="partners wow fadeInUp">
	<div class="container">
		<div id="partner_logo" class="owl-carousel owl-theme">
			<div class="item"><img src="{{ site.theme.link }}/assets/images/partner-logo/1.png" alt="logo"></div>
			<div class="item"><img src="{{ site.theme.link }}/assets/images/partner-logo/2.png" alt="logo"></div>
			<div class="item"><img src="{{ site.theme.link }}/assets/images/partner-logo/3.png" alt="logo"></div>
			<div class="item"><img src="{{ site.theme.link }}/assets/images/partner-logo/4.png" alt="logo"></div>
			<div class="item"><img src="{{ site.theme.link }}/assets/images/partner-logo/1.png" alt="logo"></div>
			<div class="item"><img src="{{ site.theme.link }}/assets/images/partner-logo/2.png" alt="logo"></div>
			<div class="item"><img src="{{ site.theme.link }}/assets/images/partner-logo/3.png" alt="logo"></div>
			<div class="item"><img src="{{ site.theme.link }}/assets/images/partner-logo/4.png" alt="logo"></div>
			<div class="item"><img src="{{ site.theme.link }}/assets/images/partner-logo/1.png" alt="logo"></div>
			<div class="item"><img src="{{ site.theme.link }}/assets/images/partner-logo/2.png" alt="logo"></div>
			<div class="item"><img src="{{ site.theme.link }}/assets/images/partner-logo/3.png" alt="logo"></div>
			<div class="item"><img src="{{ site.theme.link }}/assets/images/partner-logo/4.png" alt="logo"></div>

		</div>
		<!-- End .partner_logo -->
	</div>
</div>
