<!--Testimonials Section-->
<section class="testimonials-section" style="background-image:url({{ site.theme.link }}/assets/images/parallax/1.jpg);">
	<div class="container">
		<div class="theme_title">
			<h2>testimonials</h2>
		</div>
		<div
			class="testimonials-carousel">

			<!--Slide Item-->
			<div class="slide-item">
				<div class="inner-box">
					<div class="content">
						<div class="text-bg">
							<div class="quote-icon">
								<span class="fa fa-quote-left"></span>
							</div>
							<div class="text">Who do not know how to pursue an sed pleasure rationally encounter that are extremely win painful nor again is there anyone who loves or pursues or desires obtain pain itself circumstances.</div>
						</div>
						<div class="info clearfix">
							<div class="author-thumb"><img src="{{ site.theme.link }}/assets/images/team/a1.png" alt=""></div>
							<div class="author">William Border</div>
							<div class="author-title">Designer</div>
						</div>
					</div>
				</div>
			</div>

			<!--Slide Item-->
			<div class="slide-item">
				<div class="inner-box">
					<div class="content">
						<div class="text-bg">
							<div class="quote-icon">
								<span class="fa fa-quote-left"></span>
							</div>
							<div class="text">Who do not know how to pursue an sed pleasure rationally encounter that are extremely win painful nor again is there anyone who loves or pursues or desires obtain pain itself circumstances.</div>
						</div>
						<div class="info clearfix">
							<div class="author-thumb"><img src="{{ site.theme.link }}/assets/images/team/a2.png" alt=""></div>
							<div class="author">Jessy Federar</div>
							<div class="author-title">Cor.Manager</div>
						</div>
					</div>
				</div>
			</div>

			<!--Slide Item-->
			<div class="slide-item">
				<div class="inner-box">
					<div class="content">
						<div class="text-bg">
							<div class="quote-icon">
								<span class="fa fa-quote-left"></span>
							</div>
							<div class="text">Who do not know how to pursue an sed pleasure rationally encounter that are extremely win painful nor again is there anyone who loves or pursues or desires obtain pain itself circumstances.</div>
						</div>
						<div class="info clearfix">
							<div class="author-thumb"><img src="{{ site.theme.link }}/assets/images/team/a3.png" alt=""></div>
							<div class="author">Mark Antony</div>
							<div class="author-title">Designer</div>
						</div>
					</div>
				</div>
			</div>
			<!--Slide Item-->
			<div class="slide-item">
				<div class="inner-box">
					<div class="content">
						<div class="text-bg">
							<div class="quote-icon">
								<span class="fa fa-quote-left"></span>
							</div>
							<div class="text">Who do not know how to pursue an sed pleasure rationally encounter that are extremely win painful nor again is there anyone who loves or pursues or desires obtain pain itself circumstances.</div>
						</div>
						<div class="info clearfix">
							<div class="author-thumb"><img src="{{ site.theme.link }}/assets/images/team/a1.png" alt=""></div>
							<div class="author">William Border</div>
							<div class="author-title">Designer</div>
						</div>
					</div>
				</div>
			</div>

			<!--Slide Item-->
			<div class="slide-item">
				<div class="inner-box">
					<div class="content">
						<div class="text-bg">
							<div class="quote-icon">
								<span class="fa fa-quote-left"></span>
							</div>
							<div class="text">Who do not know how to pursue an sed pleasure rationally encounter that are extremely win painful nor again is there anyone who loves or pursues or desires obtain pain itself circumstances.</div>
						</div>
						<div class="info clearfix">
							<div class="author-thumb"><img src="{{ site.theme.link }}/assets/images/team/a2.png" alt=""></div>
							<div class="author">Jessy Federar</div>
							<div class="author-title">Cor.Manager</div>
						</div>
					</div>
				</div>
			</div>

			<!--Slide Item-->
			<div class="slide-item">
				<div class="inner-box">
					<div class="content">
						<div class="text-bg">
							<div class="quote-icon">
								<span class="fa fa-quote-left"></span>
							</div>
							<div class="text">Who do not know how to pursue an sed pleasure rationally encounter that are extremely win painful nor again is there anyone who loves or pursues or desires obtain pain itself circumstances.</div>
						</div>
						<div class="info clearfix">
							<div class="author-thumb"><img src="{{ site.theme.link }}/assets/images/team/a3.png" alt=""></div>
							<div class="author">Mark Antony</div>
							<div class="author-title">Designer</div>
						</div>
					</div>
				</div>
			</div>
			<!--Slide Item-->
			<div class="slide-item">
				<div class="inner-box">
					<div class="content">
						<div class="text-bg">
							<div class="quote-icon">
								<span class="fa fa-quote-left"></span>
							</div>
							<div class="text">Who do not know how to pursue an sed pleasure rationally encounter that are extremely win painful nor again is there anyone who loves or pursues or desires obtain pain itself circumstances.</div>
						</div>
						<div class="info clearfix">
							<div class="author-thumb"><img src="{{ site.theme.link }}/assets/images/team/a1.png" alt=""></div>
							<div class="author">William Border</div>
							<div class="author-title">Designer</div>
						</div>
					</div>
				</div>
			</div>

			<!--Slide Item-->
			<div class="slide-item">
				<div class="inner-box">
					<div class="content">
						<div class="text-bg">
							<div class="quote-icon">
								<span class="fa fa-quote-left"></span>
							</div>
							<div class="text">Who do not know how to pursue an sed pleasure rationally encounter that are extremely win painful nor again is there anyone who loves or pursues or desires obtain pain itself circumstances.</div>
						</div>
						<div class="info clearfix">
							<div class="author-thumb"><img src="{{ site.theme.link }}/assets/images/team/a2.png" alt=""></div>
							<div class="author">Jessy Federar</div>
							<div class="author-title">Cor.Manager</div>
						</div>
					</div>
				</div>
			</div>

			<!--Slide Item-->
			<div class="slide-item">
				<div class="inner-box">
					<div class="content">
						<div class="text-bg">
							<div class="quote-icon">
								<span class="fa fa-quote-left"></span>
							</div>
							<div class="text">Who do not know how to pursue an sed pleasure rationally encounter that are extremely win painful nor again is there anyone who loves or pursues or desires obtain pain itself circumstances.</div>
						</div>
						<div class="info clearfix">
							<div class="author-thumb"><img src="{{ site.theme.link }}/assets/images/team/a3.png" alt=""></div>
							<div class="author">Mark Antony</div>
							<div class="author-title">Designer</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
